<?xml version="1.0" encoding="utf-8"?>
<!-- Throwaway. Proves only that WiX emits an MSI on Linux. -->
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="nib spike" Manufacturer="nib" Version="0.0.1"
           UpgradeCode="6f1d0e9c-8a44-4f1e-9f2b-7c3a5d1e4b20"
           Scope="perUser">
    <MajorUpgrade DowngradeErrorMessage="A newer version is already installed." />
    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="INSTALLFOLDER" Name="nib" />
    </StandardDirectory>
    <ComponentGroup Id="Files" Directory="INSTALLFOLDER">
      <Component Id="ReadmeComponent" Guid="9a2b1c34-5d6e-4f70-8a91-2b3c4d5e6f70">
        <File Id="ReadmeFile" Source="Scripts/spike/spike.wxs" Name="readme.txt" />
      </Component>
    </ComponentGroup>
    <Feature Id="Main">
      <ComponentGroupRef Id="Files" />
    </Feature>
  </Package>
</Wix>
